﻿html {
    background-image:url(/bg.jpg);
}

.allBody {
    margin-left:35%;
    margin-right:35%;
    margin-top:25px;
}

.form {
    margin:15px;
}

.error {
    margin:15px; 
    height:20px;
}

p {
    color:red;
    font-weight:bold;
}

.table {
    margin:15px;
}

table{
    width:100%;
}

#num {
    width:10%;
}

#title {
    width:50%;
}

#yesno {
    width:15%;
}

.td {
    font-weight:bold; 
    text-align:center;
}

.trYes {
    text-decoration:line-through;
    color:#808080
}

.trNo {
    text-decoration:none;
    color:#000000;
}

.select {
    margin:15px;
    width:100%;
}
