﻿@model ToDo.WebUI.Models.TaskModel
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Edit</title>
    <link href="~/Styles/StylesEdit.css" rel="stylesheet" type="text/css" />
</head>
<body>
    <div class="glDiv">
        <fieldset>
        <legend>Edit task</legend>
        <form method="post">
            <div>
                <div class="div">@Html.LabelFor(model => model.Id):</div>
                <div>@Html.DisplayFor(model => model.Id)</div>
            </div>

            <div>
                <div class="div">@Html.LabelFor(model => model.Title):</div>
                <div>@Html.TextBoxFor(model => model.Title)</div>
            </div>

            <div>
                <div class="div">@Html.LabelFor(model => model.IsDone):</div>
                <div>@Html.CheckBoxFor(model => model.IsDone)</div>
            </div>
            <input type="submit" value="Save" style="float:left" />
        </form>
        <div>
            <form>
                <input type="submit" value="Cancel" />
            </form>
        </div>
        </fieldset>
    </div>
</body>
</html>
