﻿@using ToDo.Entities

@{
    Layout = null;
    List<TaskEntity> list = ViewBag.Tasks;
    string error = ViewBag.Error;
    string taskTitle = ViewBag.TaskTitle;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link href="~/Styles/StylesIndex.css" rel="stylesheet" type="text/css" />
    <script src="~/Scripts/libs/jquery/jquery-2.1.4.js"></script>
</head>
<body>
    <div class="allBody">
        <form method="post">
            <div class="form">
                <input type="text" name="txtTask" placeholder="Enter new task..." value="@taskTitle" style="float:left; width:78%" />
                <input type="submit" name="btnNew" value="New Task" style="width:20%" />
            </div>
        </form>
        @if(@error != null)
        {
            <div class="error"><p>@error</p></div>
        }
        <div class="table">
            <table border="1" cellspacing="0px">
                <tr id="first">
                    <th id="num">№</th>
                    <th id="title">Task</th>
                    <th id="yesno">y/n</th>
                    <th>Delete</th>
                </tr>
                @foreach (var task in list)
                {
                    <tr id="tr"> 
                        <td class="td">@task.Id</td>
                        <td>@task.Title</td>
                        <td class="td"><input type="checkbox" checked=@task.IsDone data-task-id="@task.Id" /></td>
                        <td>
                            <form method="post" action="/todo/delete">
                                <input type="hidden" name="taskId" value="@task.Id" />
                                <input type="submit" name="Delete" value="Delete" />
                                <a href="/todo/edit?id=@task.Id">Edit</a>
                            </form>
                        </td>
                    </tr>
                }
            </table>
        </div>
        <div class="select">
            <select id="myselect" name="myselect">
                <option name="all" value="all" selected="selected">All</option>
                <option name="commit" value="commit">Commit</option>
                <option name="inprogress" value="inprogress">In progress</option>
            </select>
        </div>
    </div>
    <script src="~/Scripts/pages/tasks-page.js"></script>
</body>
</html>
